@include media-breakpoint-down(md) {
    .mobile{
        margin-top: 60px;
    }
    .mobile-hide{
        display: none;
    }
    .is-mobile{
        display: flex!important;
    }
    .banner{
        margin-top: 60px;
        height: 350px;
    }
    .banner .Txt{
        width: 95%!important;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .list{
        margin-top: 60px;
    }
    .shopping-cart{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        min-height: 100vh;
        background: $white;
        z-index: 1050;
        padding: 20px 0;
        display: none;
    }
    .shopping-cart.show {
        display: block;
    }
    .shopping-cart i.close{
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 100;
        font-size: 30px;
    }
    .shopping-cart .card{
        box-shadow: none!important;
    }
    .shopping-cart span.money{
        padding-right: 30px;
    }
    .shopping-cart ul li a.remove{
        top: 0;
        background: $primary;
        color: #fff;
        border: none;
        line-height: 25px;
    }
    .shopping-cart ul li a.remove i{
        margin-left: 7px;
    }
    .shopping-cart ul li a.remove:after{
        display: none;
    }
    
    #cartModal.modal{
        background-color: rgba(50,51,51,0.5);
    }
    a.btn_cart{
        background: $primary;
    }
    .payBox{
        margin-top: 60px;
    }
    .payBox .row{
        flex-wrap: wrap-reverse;
    }
    .payBox .card{
        margin-bottom: 20px;
    }
    .payBox .card i.close{
        display: none!important;
    }
    .list .content{
        padding-top: 1.25rem!important;
    }
}
@include media-breakpoint-down(sm) {
    .member-list {
        display: none;
    }
}
@include media-breakpoint-down(xs) {
    h2{
        font-size: 1.8rem;
    }
    .category .swiper-wrapper {
        justify-content: flex-start;
    }
    footer .row{
        text-align: center;
    }
    footer .download{
        padding: 10px 0;
    }
    footer .copy{
        text-align: center!important;
    }
    
}